 body {
    margin: 0%;
    padding-top: 10rem;
    width: 100vw;
      font-size: 1.6rem; /* aumenta o tamanho base do texto */
    }
    h2 {
      font-size: 2rem !important;
    }
    table {
      font-size: 1.6rem !important;
    }
    p {
      font-size: 1.5rem !important;
    }

     h5 {
      font-size: 1.8rem !important;
    }

    button {
      font-size: 1.5rem !important;
    }
  