body {
      font-family: 'Segoe UI', sans-serif;
      background-color: #f8f9fa;
    }
    .navbar-brand {
      letter-spacing: 1px;
    }
    .carousel-caption {
      padding: 2rem;
      border-radius: 0.5rem;
    }
    .carousel-inner img {
      object-fit: cover;
      height: 75vh;
    }
    .btn-light {
      font-weight: bold;
    }

    .texto_botao{
      display: flex;
    }

    .card {
      transition: transform 0.3s ease, box-shadow 0.3s ease;
    }
    .card:hover {
      transform: translateY(-5px);
      box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    }
    #pesquisa {
      max-width: 400px;
      margin: 0 auto;
      border: 1px solid #dc3545;
    }
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
      background-color: rgba(255,255,255,0.7);
    }
    
    #carrosselJJ img {
    height: 300px;       /* Altura desejada */
    object-fit: cover;   /* Corta a imagem mantendo proporção */
  }

    .fade-out {
    animation: fadeOut 1.5s forwards;
  }

  @keyframes fadeOut {
    0%   { opacity: 1; }
    100% { opacity: 0; display: none; }
  }